@import './vars';

h1 {
  font-size: $text5;
  margin-bottom: $unit4;
}

h2 {
  font-size: $text4;
  margin-bottom: $unit2;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.1s ease-in;
  &:hover {
    color: var(--color-primary-hover);
  }
}

.container {
  width: 100%;
  max-width: $unit16;
  margin: 0 auto 0;

  @media (min-width: $tablet) {
  }
}

.card {
  border-radius: $unit0;
  padding: $unit4;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.15);
}

.form-item {
  margin-bottom: $unit3;
}

label {
  display: block;
  font-size: $text1;
  // color: $gray3;
}

input[type='email'],
input[type='password'],
input[type='tel'],
input[type='text'],
textarea {
  padding: $unit2;
  display: block;
  width: 100%;
  // color: $gray1;
  font-family: Lato, sans-serif;
  font-size: $text2;
  // border: 1px solid $gray3;
  border-radius: $unit0;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 10%);
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
}

textarea {
  resize: none;
  height: $unit9;
}

.input-error {
  margin: 8px 0;
  font-size: 12px;
  color: var(--color-error);
}

.generic-modal {
  position: fixed;
  top: $unit3;
  bottom: $unit3;
  left: $unit3;
  right: $unit3;

  @media (min-width: $tablet) {
    top: 40%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -40%);
    position: fixed;
  }

  background: white;
  border-radius: $unit1;
  // border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;

  .modal-header {
    padding: $unit4 $unit4 0;
    position: relative;
    .close-modal {
      position: absolute;
      top: $unit4;
      right: $unit4;
      font-size: $text5;
      a {
        i {
          color: #333;
          transition: color 0.1s ease-in;
        }
        &:hover {
          i {
            color: var(--color-primary);
          }
        }
      }
    }
  }

  .modal-body {
    padding: 0 $unit4 $unit4;
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(33, 33, 33, 0.8);
}

.spinner {
  .lds-hourglass {
    display: inline-block;
    position: relative;
    width: $unit5;
    height: $unit5;
  }
  .lds-hourglass:after {
    content: ' ';
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: $unit1;
    box-sizing: border-box;
    border: $unit4 solid var(--color-primary);
    border-color: var(--color-primary) transparent var(--color-primary) transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
}

.spinner2,
.spinner2:before,
.spinner2:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.spinner2 {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 4px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.spinner2:before,
.spinner2:after {
  position: absolute;
  top: 0;
  content: '';
}
.spinner2:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner2:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Domine, serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
pre,
table,
blockquote,
input,
button,
select,
textarea {
  margin-bottom: $unit4;
  margin-top: 0;
  padding: 0;
  color: var(--color-text);
  box-shadow: none;
}

button,
input[type='submit'] {
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: $unit1 $unit2;
  border-radius: $unit0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $text1;
  cursor: pointer;
  transition: background-color 0.15s;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  display: flex;
  align-items: center;

  i {
    margin-right: $unit1;
  }

  &:hover {
    background-color: var(--color-primary-hover);
  }

  &.transparent {
    background-color: transparent;
    color: var(--color-primary);
    border: 0;
    &:hover {
      background-color: var(--color-bg-hover);
    }
    &:active {
      background-color: var(--color-bg-hover-intense);
    }

    &.danger {
      color: var(--color-error);
    }
  }

  &.mini {
    font-size: $text0;
    font-weight: 500;
    i {
      margin-right: $unit0;
    }
  }
}

.form-group {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  > a {
    margin-left: 8px;
  }
}

.form-group input[type='text'],
.form-group input[type='password'],
.form-group input[type='email'],
.form-group input[type='number'],
.form-group input[type='tel'],
.form-group input[type='url'],
.form-group input[type='search'],
.form-group input[type='date'],
.form-group input[type='datetime'],
.form-group input[type='datetime-local'],
.form-group input[type='month'],
.form-group input[type='week'],
.form-group input[type='time'],
.form-group input[type='color'],
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid var(--color-line-strong);
  border-radius: 4px;
  font-size: 30px;
  color: var(--color-text);
  margin-bottom: 0;
}

.form-group input[type='text']:focus,
.form-group input[type='password']:focus,
.form-group input[type='email']:focus,
.form-group input[type='number']:focus,
.form-group input[type='tel']:focus,
.form-group input[type='url']:focus,
.form-group input[type='search']:focus,
.form-group input[type='date']:focus,
.form-group input[type='datetime']:focus,
.form-group input[type='datetime-local']:focus,
.form-group input[type='month']:focus,
.form-group input[type='week']:focus,
.form-group input[type='time']:focus,
.form-group input[type='color']:focus,
.form-group textarea:focus,
.form-group select:focus {
  outline: none;
  border: 1px solid var(--color-line-strong);
  box-shadow: none;
}

.form-group label {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-text);
  margin-bottom: 8px;
  display: block;
}

.form-group textarea {
  height: 192px;
}
